/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;
   Blue = #003f87;
   Dark Brown = #512c1d;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible; 
  transition: opacity 1s linear .5s;
}

.bodyNoView {
  opacity: 0; 
}

.bodyView {
  opacity: 1;
}


/*----- Empty Cart Section -----*/

.emptyCart {
  width: 100%;
  margin: 100 0 0 0;
  border: 1px solid red;
  display: block;
  text-align: center;
}
.emptyCart-title {
  margin: 18 0 0 0;
}

.emptyCart-title h1 {
  font-size: 4.5em;
  margin: 0;
}

.emptyCart-text1 {
  margin: 94 0 0 0;
}

.emptyCart-text1 p {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

.emptyCart-shopNow {
  margin: 19 0 0 0; 
}

.emptyCart-shopNow a {
  font-size: 1.1em;
  font-weight: 700;
  color: #bf955a;
  text-decoration: none;
}

.emptyCart-image1 {
  width: 100%;
  margin: 83 0 120 0;
}

.emptyCart-image1 img {
  width: 20%;
}
