/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;
   Blue = #003f87;
   Dark Brown = #512c1d;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible;
  transition: opacity 1s linear 0.5s;
  position: relative;
}

.bodyNoView {
  opacity: 0;
}

.bodyView {
  opacity: 1;
}

/*----- Empty Cart Section -----*/
.emptyCart {
  width: 100%;
  margin: 100 0 0 0;
  display: none;
  text-align: center;
}
.emptyCart-title {
  margin: 18 0 0 0;
}

.emptyCart-text1 {
  margin: 12 0 0 0;
}

.emptyCart-text1 p {
  font-size: 1.05em;
  font-weight: 700;
  margin: 0;
}

.emptyCart-shopNow {
  margin: 19 0 0 0;
}

.emptyCart-shopNow a {
  font-size: 1.05em;
  font-weight: 700;
  color: #bf955a;
  text-decoration: none;
}

.emptyCart-image1 {
  width: 100%;
  max-width: 500;
  margin: 83 auto 0 auto;
}

.emptyCart-image1 img {
  width: 65%;
}

/*----- Filled Cart Section -----*/
.filledCart {
  display: block;
  position: relative;
  width: 100%;
  margin: 100 0 3 0;
  text-align: center;
  padding: 0;
}

.emptyCart-title {
  margin: 18 0 0 0;
}

.emptyCart-title h1 {
  font-size: 1.75em;
  margin: 0;
}

.table-container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto 0;
}

/*-----First Table -----*/
.cart-items {
  width: 100%;
  margin-top: 16;
  border-collapse: collapse;
  display: table;
}

.table-headings {
  font-weight: 700;
  font-size: 1em;
  display: none;
}

th {
  padding-bottom: 18;
  border-bottom: 1px solid black;
  text-align: left;
}

.table-row {
  width: 100%;
  padding: 24 0 24 24;
  border-bottom: 1px solid #ddd;
  display: grid;
  grid-template-columns: 130px 100%;
  grid-template-rows: auto auto auto auto;
}

.item-image {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 3;
}

.item-image img {
  width: 100;
}

.item-name {
  font-weight: 700;
  font-size: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.item-price {
  font-size: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.item-quantity {
  font-size: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.item-quantity-container {
  display: block;
}

.item-quantity-box {
  display: flex;
  align-items: center;
}

.item-update-container {
  width: 100%;
  align-items: center;
  display: none;
}

.item-update-button {
  width: 110px;
  height: 25px;
  border: 0;
  padding: 0;
  margin-top: 10;
  color: #f6f5f3;
  background-color: #bf955a;
  font-size: 0.9em;
  cursor: pointer;
}

.item-down-box,
.item-up-box {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 11;
  cursor: pointer;
}

.item-up-box {
  margin-left: 11;
  margin-right: 0;
}

.item-down-image {
  position: relative;
  top: -1038;
  left: 1;
  width: 238;
}

.item-up-image {
  position: relative;
  top: -903;
  left: 1;
  width: 238;
}

.item-price::before {
  content: "$";
}

.quantity {
  width: 30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.item-subtotal {
  padding-left: 0;
  font-size: 1em;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
}

.item-subtotal::before {
  content: "$";
}

.item-remove {
  overflow: hidden;
  padding: 0 0 0 20;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 5;
  grid-row-end: 6;
}

.item-remove-box {
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.item-remove-box:hover {
  opacity: 0.4;
}

.remove-text {
  color: #bf955a;
}

.item-remove-image {
  position: relative;
  top: -2436;
  left: -13;
  display: none;
}

/*----- 2nd Table -----*/
.items-total-container {
  display: flex;
  position: relative;
  width: 100%;
  background-color: #fff;
  padding: 32 24;
}

.items-total {
  width: 100%;
  border-collapse: collapse;
}

.items-total-row1,
.items-total-row2,
.items-total-row3 {
  width: 100%;
}

.item-total-subtotal,
.item-total-price1,
.item-total-shipping,
.item-total-price2,
.items-total-total,
.item-total-price4 {
  width: 50%;
  font-weight: 700;
  font-size: 0.9em;
  padding-bottom: 14;
}

.items-total-row3 td {
  border-top: 1px solid #bf955a;
}

.item-total-price1,
.item-total-price2,
.item-total-price4 {
  text-align: end;
}

.item-total-price1::before,
.item-total-price4::before {
  content: "$";
}

.items-total-total,
.item-total-price4 {
  font-weight: 700;
  font-size: 1em;
  padding-top: 22;
}

.checkout {
  position: relative;
  display: block;
  width: 100%;
  margin-top: 32;
}

.checkout button {
  background-color: transparent;
  border: 0;
  color: #f6f5f3;
  background-image: url(../img/default-off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 500;
  height: 80;
  font-size: 1.5em;
  margin-bottom: 43;
  outline: none;
  cursor: pointer;
}

.checkout button:hover {
  background-image: url(../img/default-on.png);
  color: #bf955a;
}

.checkout a {
  text-decoration: none;
  color: #bf955a;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 0.5;
}
