/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;
   Blue = #003f87;
   Dark Brown = #512c1d;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible; 
  transition: opacity 1s linear .5s;
  position: relative;
}

.bodyNoView {
  opacity: 0; 
}

.bodyView {
  opacity: 1;
}

/*----- Empty Cart Section -----*/
.emptyCart {
  width: 100%;
  margin: 100 0 0 0;
  display: none;
  text-align: center;
}
.emptyCart-title {
  margin: 18 0 0 0;
}

.emptyCart-title h1 {
  font-size: 4.5em;
  margin: 0;
}

.emptyCart-text1 {
  margin: 94 0 0 0;
}

.emptyCart-text1 p {
  font-size: 1.1em;
  font-weight: 700;
  margin: 0;
}

.emptyCart-shopNow {
  margin: 19 0 0 0; 
}

.emptyCart-shopNow a {
  font-size: 1.1em;
  font-weight: 700;
  color: #bf955a;
  text-decoration: none;
}

.emptyCart-image1 {
  width: 100%;
  margin: 83 0 21 0;
}

.emptyCart-image1 img {
  width: 20%;
}

/*----- Filled Cart Section -----*/
.filledCart {
  display: block;
  position: relative;
  width: 100%;
  height:100%;;
  margin: 100 0 3 0;
  display: block;
  text-align: center;
  padding: 0 32;
}
.emptyCart-title {
  margin: 18 0 0 0;
}

.emptyCart-title h1 {
  font-size: 4.5em;
  margin: 0;
}

.table-container {
  width: 100%;
  max-width: 1100px;
  margin: 110 auto 0;
  height: 100%;
}

/*-----First Table -----*/
.cart-items {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.table-headings {
  font-weight: 700;
  font-size: 1.25em; 
}

th{
  padding-bottom: 18;
  border-bottom: 1px solid black;
  text-align: left;
}

.table-row {
  width: 100%;
  height: 160px;
}

.item-image {
  width:16%;
}

.item-image img {
  width: 100;
}

.item-name {
  font-weight: 700;
  font-size: .93em;
  width: 26%;
}

.item-price {
  width: 16%;
}

.item-quantity {
  width: 21%;
}

.item-quantity-container {
  display: block;
}

.item-quantity-box {
  display: flex;
  align-items: center;
}

.item-update-container {
  width: 100%;
  align-items: center;
  display: none;
}

.item-update-button {
  width: 110px;
  height: 25px;
  border: 0;
  padding: 0;
  margin-top: 10;
  color: #f6f5f3;
  background-color: #bf955a;
  font-size: .9em;
  cursor: pointer;
}

.item-down-box,
.item-up-box {
  width: 30px;
  height: 30px;
  overflow: hidden;
  margin-right: 11;
  cursor: pointer;
}

.item-up-box {
  margin-left: 11;
  margin-right: 0;
}

.item-down-image {
  position: relative;
  top: -1038;
  left: 1;
  width: 238;
}

.item-up-image {
  position: relative;
  top: -903;
  left: 1;
  width: 238;
}

.quantity {
  width:30px;
  margin: 0;
  padding: 0;
  text-align: center;
}

.item-subtotal {
  width: 17%;
  padding-left: 54;
}

.item-remove {
  width: 4%;
  overflow: hidden;
  padding: 0 0 0 20;
}

.item-remove-box {
  width: 25px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity .2s linear;
}

.item-remove-box:hover {
  opacity: .4;
}

.item-remove-image {
  position: relative;
  top: -2436;
  left:-13;
}

/*----- 2nd Table -----*/
.items-total-container {
  display: flex;
  position: relative;
  width: 570;
  margin: 0 0 0 auto ;
  background-color: #fff;
  padding: 57 0 20;
}

.items-total {
  width: 450;
  margin: 0 auto;
  border-collapse: collapse;
}

.items-total-row3 td{
  border-top: 1px solid #bf955a;
}

.item-total-subtotal,
.item-total-shipping,
.item-total-promo {
  font-weight: 700;
  font-size: .9em;
  padding-bottom: 31;
  padding-left: 60;
}

.item-total-price1,
.item-total-price2,
.item-total-price3 {
  font-weight: 700;
  font-size: .9em;
  padding-bottom: 31;
  float: right;
  padding-right: 60;
}

.items-total-total {
  font-weight: 700;
  font-size: 1.3em;
  padding-top: 28;
  padding-bottom: 31;
  padding-left: 60;
}

.item-total-price4 {
  font-weight: 700;
  font-size: 1.3em;
  padding-top: 28;
  padding-bottom: 31;
  padding-right: 60;
  padding-left: 233;
  float: right;
}

.checkout {
  position: relative;
  display: block;
  width: 770;
  margin: 30 0;
  float: right;
}

.checkout button {
  background-color: transparent;
  border: 0;
  color: #f6f5f3;
  background-image: url(../img/default-off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size:contain;
  width: 355;
  height: 90;
  font-size: 1.5em;
  margin-bottom: 43;
  outline: none;
  cursor: pointer;
}

.checkout button:hover {
  background-image: url(../img/default-on.png);
  color: #bf955a;
}

.checkout a{
  text-decoration: none;
  color: #bf955a;
  font-weight: 700;
  font-size: .9em;
  letter-spacing: .5;
}
