/*----- Cart Confirmation -----*/
.section-cart-confirmation {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: blue;
  z-index: 20;
  position: fixed;
  top: -70;
  left: 0;
  overflow: hidden;
}

.confirm-animate {
  animation-name: confirmation;
  animation-duration: 3s;
  animation-iteration-count: 1;

  -webkit-animation-name: confirmation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
}

@keyframes confirmation {
  0% {
    top: -70;
  }
  10% {
    top: 0;
  }
  90% {
    top: 0;
  }
  100% {
    top: -70;
  }
}

.cart-confirmation {
  display: flex;
  width: 100%;
}

.confirmation-image-box {
  position: relative;
  width: 95%;
  height: 100%;
  overflow: hidden;
}

.confirmation-image {
  position: relative;
  width: 230;
  top: -260;
  left: 50%;
  transform: translateX(-20%);
}

.confirmation-close-box {
  position: relative;
  width: 30;
  height: 30;
  margin-top: 20;
  margin-right: 10;
  overflow: hidden;
  cursor: pointer;
}

.confirmation-close-image {
  position: relative;
  width: 260;
  top: -1081;
  left: 2;
}
