/*----- Footer -----*/
.section-footer {
  background-color: #1f1815;
  width: 100%;
  color: white;
  position: relative;
  top: 100;
}

.footer-container {
  width: 100%;
  padding: 80 24 75;
}

.footer-row1 {
  width: 100%;
  display: flex;
}

.footer-row1-col1,
.footer-row1-col3 {
  width: 25%;
  text-align: center;
  padding-top: 46px;
  letter-spacing: .05em;
}

.footer-row1-col1 p:nth-child(1),
.footer-row1-col1 p:nth-child(2),
.footer-row1-col3 p:nth-child(1) {
  margin: 0;
  color:#d0c3ae;
  font-weight: 700;
  font-size: .9em;
  padding-bottom: 8;
}

.footer-row1-col1 p:nth-child(3) {
  margin: 24 0 0 0;
  font-family: Merriweather, serif;
  color:#bf955a;
  font-weight: 700;
  font-size: 1em;
}

.footer-row1-col2 {
  width: 50%;
  text-align: center;
}

.footer-row1-col2-rowa a {
  text-decoration: none;
  color: #bf955a;
  font-weight: 700;
  font-size: 1.75em;
}

.footer-row1-col2-rowa a:hover {
  color: #f6f5f3;
}

.link-box1,
.link-box2 {
  padding-bottom: 18;
}

.footer-row1-col2-rowb {
  margin-top: 85
}

.footer-row1-col2-rowb img {
  opacity: .2;
  width: 100%;
}

.footer-form {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #bf955a;
  margin-top: 40;
  display: flex;
}

.footer-email {
  width: 100%;
  height: 30;
  border: 0;
  background-color: transparent;
  outline: none;
  font-family: Merriweather, serif;
  color:#bf955a;
  font-weight: 700;
  font-size: .9em;
}

.footer-email::placeholder {
  color:#bf955a;
}

.footer-form span {
  width: 40px;
  height: 26px;
  overflow: hidden;
  position: relative;
}

.submit {
  background-color: transparent;
  width: 100%;
  height: 90%;
}

.footer-row2 {
  margin-top: 10;
  margin-bottom: 20;
  width: 100%;
  text-align: center;
}

.footer-row2 p {
  margin: 0 0 10 0;
  color: rgba(208,195,174,0.2);
  font-family: Merriweather, serif;
  font-size: .9em;
  letter-spacing: .05em;
}

.footer-row2 a {
  color: rgba(208,195,174,0.2);
  font-family: Merriweather, serif;
  font-size: .9em;
  text-decoration: none;
  letter-spacing: .1em;
}

.footer-row2 a:hover {
  color:#bf955a;
}