/*----- Header Bar -----*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #f6f5f3;
  opacity: 0.9;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 0 22;
}

.header-left,
.header-middle,
.header-right {
  display: flex;
  width: 33.33333334%;
  height: 80px;
  align-items: center;
}

.header-middle {
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
  margin-right: 10;
}

.header-left-box,
.header-middle-box,
.header-right-box {
  display: flex;
  cursor: pointer;
  transition: opacity 0.5s ease;
}

.header-image-box {
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin-right: 8px;
}

.header-image-box-mid {
  width: 140;
  height: 40;
  overflow: hidden;
}

.header-left-box:hover,
.header-middle-box:hover,
.header-right-box:hover {
  opacity: 0.4;
}

.header-left img {
  position: relative;
  width: 180;
  top: -346;
  left: 7;
}

.stump-logo {
  position: relative;
  width: 270;
  top: -379;
  left: 3;
}

.header-right img {
  position: relative;
  width: 180;
  top: -382;
  left: 3;
}

.header-text {
  margin: auto 0;
  font-family: "Merriweather", serif;
  color: #bf955a;
  font-size: 0.75em;
  display: none;
}

.header-text-right {
  font-size: 0.85em;
  display: block;
}
