/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)

/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible; 
}

/*----- Splash Page -----*/
.splash-page {
  position: relative;
  top: -69;
  width: 100%;
  /*height: 1186;*/
  height: 97vh;
  background-image: url(../img/Landscape_Rwanda_Huye_Mountain.jpg);
  background-size:cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.splash-container {
  padding-top: 50;
  width: 550;
  top: 490;
}

.splash-logo-container {
  width: 100%;
}

.splash-logo-container img{
  width: 100%;
}

.splash-container a {
  text-decoration: none;
  position: relative;
}

.splash-text {
  position: relative;
  width: 330;
  margin: 75 auto 0;
  text-align: center;
  background-image: url(../img/default-off.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  color: #f6f5f3;
  padding: 25;
}

.splash-text:hover {
  background-image: url(../img/default-on.png);
  color: #bf955a;
}

/*----- Header Bar -----*/
header {
  position: relative;
  width: 100%;
  top: -69;
  z-index: 10;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 0 8 0 22;
}

.header-left,
.header-right {
  display: flex;
  width: 50%;
  height: 100px;
  align-items: center;
}

.header-right {
  justify-content: flex-end;
}

.header-left-box,
.header-right-box{
  display: flex;
  cursor: pointer;
  transition: opacity .5s ease;
}

.header-image-box {
  width: 52px;
  height: 52px;
  overflow: hidden;
  margin-right: 10px;
}

.header-left-box:hover,
.header-right-box:hover {
  opacity: .4;
}

.header-left img {
  position: relative;
  width: 250;
  top:-484;
  left: 7;
}

.header-right img {
  position: relative;
  width: 250;
  top:-533;
  left: 3;
}

.header-text {
  margin: auto 0;
  font-family: 'Merriweather', serif;
  color: #bf955a;
  font-size: .85em;
}

.header-text-right {
  font-size: 1em;
}

/*----- Product Page -----*/
.section-products {
  position: relative;
  width: 100%;
  top:-9;
  margin-top:0;
}

.section-products-row01,
.section-products-row02,
.section-products-row03,
.section-products-row04,
.section-products-row05,
.section-products-row06,
.section-products-row07, 
.section-products-row08 {
  width: 98vw;
  margin: 0 auto;
  display: flex;
  margin-bottom: 66;
}

.products {
  width: 50vw;
  position: relative;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 90px;
  align-items: center;
}

.products-singlea {
  width: 55%;
  margin: 0 auto;
}

.products-singleb {
  width: 100%;
  margin: 0 auto;
}

.products-box01 {
  width: 100%;
  justify-content:center;

}

.products-box02 {
  width: 100%;
  position: relative;
  bottom: 65;
  text-align: center;

}

.products-image {
  display: flex;
  width: 86%;
  padding-bottom: 135;
  margin: 0 auto;
}

.products-imageb {
  display: flex;
  width: 97%;
  padding-bottom: 135;
  margin: 0 auto;
}

.miir-wide-mouth {
  width: 60%
}

.miir-water-bottle {
  width: 76%;
}

.products-box01 a,
.products-box02 a{ 
  text-decoration: none;
}

.products-name {
  color: #1f1815;
  font-weight: 700;
  font-size: .9em;
  padding-bottom: 16;
}

.products-price {
  color: #1f1815;
  font-weight: 400;
  font-size: .9em;
  padding-bottom: 16;
}

.products-cart {
  color:#bf955a;
  cursor: pointer;
  transition: opacity .5s ease;
}

.text-hover-brown:hover > .products-name,
.text-hover-brown:hover > .products-price{
  color: #bf955a;
}

.products-cart:hover {
  opacity: .4;
}

/*----- Links Section -----*/
.section-links {
  width: 100%;
  position: relative;
}

.links-container {

  width: 40%;
  margin: 0 auto 100;
  text-align: center;
}

.links-row1 {
  width: 100%;
}

.links-row1 h2 {
  margin: 14;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 1.75em;
  letter-spacing: 1
}

.links-row1 img {
  width: 9%;
}

.links-row2 {
  width: 100%;
  margin: 58 0 0 0;
  display: inline-block;
}

.links-row2 a {
  color: #bf955a;
  text-decoration: none;
  font-size: 4.5em;
  font-weight: 700;
}

.link-boxes {
  margin-bottom: 40;
  cursor: pointer;
  transition: opacity .2s ease;
}

.link-boxes:hover {
  opacity: .4;
}


/*----- Footer -----*/
.section-footer {
  background-color: #1f1815;
  width: 100%;
  color: white;
}

.footer-container {
  width: 100%;
  padding: 90 24 75;
}

.footer-row1 {
  width: 100%;
  display: flex;
}

.footer-row1-col1,
.footer-row1-col3 {
  width: 25%;
  text-align: center;
  padding-top: 46px;
  letter-spacing: .05em;
}

.footer-row1-col1 p:nth-child(1),
.footer-row1-col1 p:nth-child(2),
.footer-row1-col3 p:nth-child(1) {
  margin: 0;
  color:#d0c3ae;
  font-weight: 700;
  font-size: .9em;
  padding-bottom: 8;
}

.footer-row1-col1 p:nth-child(3) {
  margin: 24 0 0 0;
  font-family: Merriweather, serif;
  color:#bf955a;
  font-weight: 700;
  font-size: 1em;
}

.footer-row1-col2 {
  width: 50%;
  text-align: center;
}

.footer-row1-col2-rowa a {
  text-decoration: none;
  color: #bf955a;
  font-weight: 700;
  font-size: 1.75em;
}

.footer-row1-col2-rowa a:hover {
  color: #f6f5f3;
}

.link-box1,
.link-box2 {
  padding-bottom: 18;
}

.footer-row1-col2-rowb {
  margin-top: 85
}

.footer-row1-col2-rowb img {
  opacity: .2;
  width: 100%;
}

.footer-form {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  border-bottom: 1px solid #bf955a;
  margin-top: 40;
  display: flex;
}

.footer-email {
  width: 100%;
  height: 30;
  border: 0;
  background-color: transparent;
  outline: none;
  font-family: Merriweather, serif;
  color:#bf955a;
  font-weight: 700;
  font-size: .9em;
}

.footer-email::placeholder {
  color:#bf955a;
}

.footer-form span {
  width: 40px;
  height: 26px;
  overflow: hidden;
  position: relative;
}

.submit {
  background-color: transparent;
  width: 100%;
  height: 90%;
}

.footer-row2 {
  margin-top: 10;
  margin-bottom: 20;
  width: 100%;
  text-align: center;
}

.footer-row2 p {
  margin: 0 0 10 0;
  color: rgba(208,195,174,0.2);
  font-family: Merriweather, serif;
  font-size: .9em;
  letter-spacing: .05em;
}

.footer-row2 a {
  color: rgba(208,195,174,0.2);
  font-family: Merriweather, serif;
  font-size: .9em;
  text-decoration: none;
  letter-spacing: .1em;
}

.footer-row2 a:hover {
  color:#bf955a;
}

/*----- Cart Confirmation -----*/
.section-cart-confirmation {
  position: relative;
  width: 100%;
  height: 90px;
  background-color: blue;
  z-index: 20;
  position: fixed;
  top: -90;
  left: 0;
}

.confirm-animate {
  animation-name: confirmation;
  animation-duration: 3s;
  animation-iteration-count: 1;
  
  -webkit-animation-name: confirmation;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
}

@keyframes confirmation {
  0% {top: -90;}
 10% {top: 0;}
 90% {top: 0;}
100% {top: -90;}
}

.cart-confirmation {
  display: flex;
  width: 100%;
}

.confirmation-image-box {
  position: relative;
  width: 95%;
  height: 100%;
  overflow:hidden;
}

.confirmation-image {
  position: relative;
  width: 300;
  top: -340;
  left:50%;
  transform: translateX(-30%);
}

.confirmation-close-box {
  position: relative;
  width: 30; 
  height: 30;
  margin-top: 30;
  margin-right: 10;
  overflow: hidden;
  cursor: pointer;
}

.confirmation-close-image {
  position: relative;
  width: 260;
  top: -1081;
  left:2
}