/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;
   Blue = #003f87;
   Dark Brown = #512c1d;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible; 
}

/*----- Header Bar -----*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #f6f5f3;
  opacity: .9;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 0 22 0 22;
}

.header-left,
.header-middle,
.header-right {
  display: flex;
  width: 33.33333334%;
  height: 100px;
  align-items: center;
}

.header-middle {
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.header-left-box,
.header-middle-box,
.header-right-box {
  display: flex;
  cursor: pointer;
  transition: opacity .5s ease;
}

.header-image-box {
  width: 52px;
  height: 52px;
  overflow: hidden;
  margin-right: 10px;
}

.header-image-box-mid {
  width: 140;
  height: 40;
  overflow: hidden;
}

.header-left-box:hover,
.header-middle-box:hover,
.header-right-box:hover {
  opacity: .4;
}

.header-left img {
  position: relative;
  width: 250;
  top:-484;
  left: 7;
}

.stump-logo {
  position: relative;
  width: 270;
  top:-379;
  left:3;
}

.header-right img {
  position: relative;
  width: 250;
  top:-533;
  left: 3;
}

.header-text {
  margin: auto 0;
  font-family: 'Merriweather', serif;
  color: #bf955a;
  font-size: .85em;
}

.header-text-right {
  font-size: 1em;
}

/* ----- Main Section -----*/
.content {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 100;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.left-col {
  width: 25%;
  margin-bottom:200px;
}

.mid-col {
  width: 50%;
  height: 100%;
  position: sticky;
  position: -webkit-sticky;
  top:100;
  left: 50%;
  transform: translateX(-50%);
}

.right-col {
  width: 25%;
  height: 100%;
  float: right;
  position: sticky;
  position: -webkit-sticky;
  top: 100;
  right:0;
}

/*-----Main Middle Col-----*/
.product-title {
  text-align: center;
  font-size: 4.1em;
  margin: 12 30 229;
}

.product-image-box {
  width: 100%;
}

.product-image {
  width: 87%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*-----Main Right Col-----*/
.product-price {
  margin: 314 0 22 0;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 9.7em;
}

.product-price::before { 
  content: "$";
  font-size: .25em;
  position: relative;
  bottom:20;
  padding-right: 20; 
}

.product-description {
  padding: 0 13;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: .9em;
  line-height: 1.6;
}

.product-description a {
  text-decoration: none;
  font-family: Merriweather, serif;
  color:#bf955a;
}

.product-type {
  text-align: center;
  margin: 30 0 0 ;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: .85em;
}

.product-size {
  text-align: center;
  margin: 8 0 0 ;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: .85em;
}

.product-subscription {
  text-align: center;
  margin: 8 0 0 ;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: .85em;
  color: #bf955a;
}

.product-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 42;
  text-align: center;
  width: 250;
  height: 70;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #f6f5f3;
  font-weight: 400;
  font-size: 1.25em;
  cursor: pointer;
  outline: none;
}

/*-----Main Left Col-----*/
.left-col-container {
  position: relative;
  width: 100%;
  padding: 70vh 0 0 0;
}

.illustration1 {
  position: relative;
  width: 100%;
  height: 230;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 24;
}

.producer {
  margin-left: 24;
  margin-right: 24;
}

.prod-descrip {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: .9em;
  letter-spacing: 1;
  line-height: 1.7;
  margin-left: 24;
  margin-right: 24;
}

.left-col-container a{
  text-decoration: none;
  text-align: center;
  margin: 8 0 0 ;
  font-weight: 700;
  font-size: .85em;
  color: #bf955a;
  letter-spacing: 1;
  margin-left: 24;
  margin-right: 24;
}

.region {
  margin-top: 86;
  margin-left: 24;
  margin-right: 24;
}

.region-descrip {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: .9em;
  letter-spacing: 1;
  line-height: 1.7;
  margin-left: 24;
  margin-right: 24;
}

.map-container {
  width: 100%;
  margin-top: 100;
  margin-right: 24;
}

.map {
  width: 100%;
}

.location-image-container {
  width:100%;
}

.location-image {
  width:200%;
}

/* -----Recommend Section ----- */

.section-recommend {
  position: relative;
  top: -100;
  width: 100%;
  z-index: 90;å
}

.recommend-row1 {
  margin-top: 65;
  width: 100%;
  display: block;
  text-align: center;
}

.recommend-title {
  margin: 14 0 5;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 1.75em;
  letter-spacing: 1;
}

.recommend-row2{
  width: 100%;
  display: flex;
}

.recommend-row3 {
  width: 100%;
  display: flex;
  margin-bottom: 100;
}

.recommend-row2-col1,
.recommend-row2-col2,
.recommend-row2-col3 {
  display: flex;
  width: 33.3333334%;

  padding: 30 48;
  align-items: center;
  justify-content: center;
}

.recommend-image1,
.recommend-image3 {
  width: 100%;
}

.recommend-image2 {
  width: 100%;
}

.recommend-row3-col1,
.recommend-row3-col2,
.recommend-row3-col3 {
  width: 33.3333334%;
  text-align: center;
  
}

.text-hover-brown {
  cursor: pointer;
  color: #1f1815;
}

.recommend-name1,
.recommend-name2,
.recommend-name3 {
  text-decoration: none;
  font-size: .9em;
  font-weight: 700; 
  margin-bottom: 16;
}

.recommend-price1,
.recommend-price2,
.recommend-price3 {
  text-decoration: none;
  font-size: .9em;
  font-weight: 400; 
}

.text-hover-brown:hover {
  color:#bf955a;
}
