/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;
   Blue = #003f87;
   Dark Brown = #512c1d;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible;
  transition: opacity 1s linear 0.5s;
}

.bodyNoView {
  opacity: 0;
}

.bodyView {
  opacity: 1;
}

/* ----- Main Section -----*/
.content {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 100;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

.left-col {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0px;
}

.mid-right-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  padding: 60 0;
}

.mid-col {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}

.right-col {
  width: 100%;
  display: flex;
  align-items: center;
}

/*-----Main Middle Col-----*/
.product-title {
  position: relative;
  text-align: center;
  font-size: 2.75em;
  margin: 12 0 0;
  width: 100%;
}

.product-image-box {
  width: 100%;
  position: relative;
  margin: 0 0 60 0;
}

.product-image {
  width: 87%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*-----Main Right Col-----*/
.right-col-container {
  padding-bottom: 40;
}

.product-price {
  margin: 0;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 1.7em;
}

.product-price::before {
  content: "$";
  font-size: 0.25em;
  position: relative;
  bottom: 10;
  padding-right: 4;
}

.product-description {
  padding: 0 32;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 0.9em;
  line-height: 1.6;
}

.product-description a {
  text-decoration: none;
  font-family: Merriweather, serif;
  color: #bf955a;
}

.product-type {
  text-align: center;
  margin: 30 0 0;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 0.85em;
}

.product-size {
  text-align: center;
  margin: 8 0 0;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 0.85em;
}

.product-subscription {
  text-align: center;
  margin: 8 0 0;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 0.85em;
  color: #bf955a;
}

.product-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 42;
  text-align: center;
  width: 250;
  height: 70;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #f6f5f3;
  font-weight: 400;
  font-size: 1.25em;
  cursor: pointer;
  outline: none;
}

/*-----Main Left Col-----*/
.left-col-container {
  position: relative;
  width: 100%;
  padding: 16 0 0 0;
  border-bottom: 1px solid #ccc;
}

.illustration1 {
  position: relative;
  width: 100%;
  height: 330;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 0;
}

.illustration2 {
  position: relative;
  width: 100%;
  height: 230;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 24;
}

.producer {
  margin-left: 24;
  margin-right: 24;
  font-size: 1.5em;
  text-align: center;
}

.prod-descrip {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 1;
  line-height: 1.7;
  margin-left: 24;
  margin-right: 24;
  text-align: center;
}
.prod-list {
  padding-bottom: 0;
}

.prod-list li {
  font-weight: 700;
  font-family: Merriweather, serif;
  font-size: 0.8em;
  padding-bottom: 16px;
  line-height: 2;
}

.left-col-container a {
  text-decoration: none;
  text-align: center;
  margin: 8 0 0;
  font-weight: 700;
  font-size: 0.85em;
  color: #bf955a;
  letter-spacing: 1;
  margin-left: 24;
  margin-right: 24;
}

.read-more {
  text-align: center;
}

.region {
  margin-top: 16;
  margin-left: 24;
  margin-right: 24;
  padding-top: 16;
  font-size: 1.5em;
  text-align: center;
}

.region-descrip {
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: 0.8em;
  letter-spacing: 1;
  line-height: 1.7;
  margin-left: 24;
  margin-right: 24;
  text-align: center;
}

.map-container {
  display: none;
}

.map {
  width: 100%;
}

.location-image-container {
  display: none;
}

.location-image {
  width: 200%;
}

/* -----Recommend Section ----- */

.section-recommend {
  position: relative;
  top: 100;
  width: 100%;
  z-index: 00;
}

.recommend-row1 {
  margin-top: 95;
  width: 100%;
  display: block;
  text-align: center;
}

.recommend-title {
  margin: 14 0 5;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 0.85em;
  letter-spacing: 1;
}

.recommend-image {
  width: 5%;
}

.recommend-row2 {
  width: 100%;
  display: flex;
}

.recommend-row3 {
  width: 100%;
  display: flex;
  margin-bottom: 100;
}

.recommend-row2-col1,
.recommend-row2-col2,
.recommend-row2-col3 {
  display: flex;
  width: 33.3333334%;
  height: 250px;
  padding: 30 48;
  align-items: center;
  justify-content: center;
}

.recommend-image1,
.recommend-image3 {
  height: 60%;
}

.recommend-image2 {
  height: 60%;
}

.recommend-row3-col1,
.recommend-row3-col2,
.recommend-row3-col3 {
  width: 33.3333334%;
  text-align: center;
}

.text-hover-brown {
  cursor: pointer;
  color: #1f1815;
}

.recommend-name1,
.recommend-name2,
.recommend-name3 {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 700;
  margin-bottom: 16;
}

.recommend-price1,
.recommend-price2,
.recommend-price3 {
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 400;
}

.text-hover-brown:hover {
  color: #bf955a;
}
