/* Colors */
/* Tan = #d0c3ae; rgba(208,195,174,0.2);
   Brown = #bf955a;
   Black = #1f1815;
   Background = #f6f5f3;

   Cart Confirmation Colors
   Blue = rgb(0, 63, 135)
   Brown = rgb(81, 44, 29)
   Orange = rgb(209, 68, 20)
   Black = rgb(31, 24, 21)
    
   Red = #d14414;
/* Fonts */
/* Gotham Alt = Montserrat       font-family: 'Montserrat', sans-serif; */
/* Sentinel Alt = Merriweather   font-family: 'Merriweather', serif; */

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #f6f5f3;
  overflow-y: visible; 
}

/*----- Header Bar -----*/
header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: #f6f5f3;
  opacity: .9;
}

.header-container {
  display: flex;
  width: 100%;
  padding: 0 22 0 22;
}

.header-left,
.header-middle,
.header-right {
  display: flex;
  width: 33.33333334%;
  height: 100px;
  align-items: center;
}

.header-middle {
  justify-content: center;
}

.header-right {
  justify-content: flex-end;
}

.header-left-box,
.header-middle-box,
.header-right-box {
  display: flex;
  cursor: pointer;
  transition: opacity .5s ease;
}

.header-image-box {
  width: 52px;
  height: 52px;
  overflow: hidden;
  margin-right: 10px;
}

.header-image-box-mid {
  width: 140;
  height: 40;
  overflow: hidden;
}

.header-left-box:hover,
.header-middle-box:hover,
.header-right-box:hover {
  opacity: .4;
}

.header-left img {
  position: relative;
  width: 250;
  top:-484;
  left: 7;
}

.stump-logo {
  position: relative;
  width: 270;
  top:-379;
  left:3;
}

.header-right img {
  position: relative;
  width: 250;
  top:-533;
  left: 3;
}

.header-text {
  margin: auto 0;
  font-family: 'Merriweather', serif;
  color: #bf955a;
  font-size: .85em;
}

.header-text-right {
  font-size: 1em;
}

/* ----- Main Section -----*/
.content {
  width: 100%;
  position: relative;
  z-index: 1;
  top: 100;
  bordeR: 2px solid red;
}

.content-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  bordeR: 2px solid green;
}

.left-col {
  width: 25%;
  overflow: auto;
  bordeR: 2px solid green;
}

.mid-col {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 100;
  left: 50%;
  transform: translateX(-50%);
}

.right-col {
  width: 25%;
  height: 100%;
  float: right;
  position: fixed;
  top: 100;
  right:0;
  bordeR: 2px solid purple;
}

/*-----Main Middle Col-----*/
.product-title {
  text-align: center;
  font-size: 4.1em;
  margin: 12 0 229;
}

.product-image-box {
  width: 100%;
}

.product-image {
  width: 87%;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

/*-----Main Right Col-----*/
.product-price {
  margin: 314 0 22 0;
  text-align: center;
  font-family: Merriweather, serif;
  font-size: 9.7em;
}

.product-price::before { 
  content: "$";
  font-size: .25em;
  position: relative;
  bottom:20;
  padding-right: 20; 
}

.product-description {
  padding: 0 13;
  text-align: center;
  font-family: Merriweather, serif;
  font-weight: 400;
  font-size: .9em;
  line-height: 1.6;
}

.product-type {
  text-align: center;
  margin: 30 0 0 ;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: .85em;
}

.product-size {
  text-align: center;
  margin: 8 0 0 ;
  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: .85em;
}

.product-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin-top: 42;
  text-align: center;
  width: 250;
  height: 70;
  background-color: transparent;
  border: 0;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #f6f5f3;
  font-weight: 400;
  font-size: 1.25em;
  cursor: pointer;
  outline: none;
}