@media only screen and (min-width: 1024px) {
  .section-cart-confirmation {
    height: 90px;
    top: -90px;
  }

  @keyframes confirmation {
    0% {
      top: -90px;
    }
    10% {
      top: 0;
    }
    90% {
      top: 0;
    }
    100% {
      top: -90px;
    }
  }

  .confirmation-image {
    width: 300px;
    top: -340px;
  }

  .confirmation-close-box {
    margin-top: 30px;
  }
}
