@media only screen and (min-width: 768px) {
  /*----- Empty Cart Section -----*/
  .emptyCart-text1 {
    margin: 94px 0 0 0;
  }

  .emptyCart-text1 p {
    font-size: 0.85em;
  }

  .emptyCart-shopNow a {
    font-size: 0.85em;
  }

  /*----- Filled Cart Section -----*/
  .filledCart {
    padding: 0 32px;
  }

  .emptyCart-title h1 {
    font-size: 2.5em;
  }

  .table-container {
    margin: 100px auto 0;
  }

  /*-----First Table -----*/
  .cart-items {
    margin: 0;
    border-bottom: 1px solid black;
  }

  .table-headings {
    display: table-row;
  }

  .table-row {
    height: 160px;
    border-bottom: none;
    display: table-row;
  }

  .item-image {
    width: 16%;
  }

  .item-name {
    font-size: 0.73em;
    width: 34%;
  }

  .item-price {
    width: 10%;
    font-size: 0.75em;
  }

  .item-quantity {
    width: 10%;
    font-size: 0.75em;
  }

  .item-subtotal {
    width: 12%;
    padding-left: 54px;
    font-size: 0.75em;
  }

  .item-subtotal-text {
    display: none;
  }

  .item-remove {
    width: 4%;
    overflow: hidden;
    padding: 0 0 0 20px;
  }

  .item-remove-box {
    width: 25px;
    height: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: opacity 0.2s linear;
  }

  .item-remove-box:hover {
    opacity: 0.4;
  }

  .remove-text {
    display: none;
  }

  .item-remove-image {
    position: relative;
    top: -2436px;
    left: -13px;
    display: block;
  }

  /*----- 2nd Table -----*/
  .items-total-container {
    width: 400px;
    margin: 0 0 0 auto;
    padding: 56px;
  }

  .item-total-subtotal,
  .item-total-shipping,
  .item-total-price1,
  .item-total-price2 {
    font-size: 0.8em;
    padding-bottom: 28px;
  }

  .items-total-total,
  .item-total-price4 {
    padding-top: 24px;
  }

  .checkout {
    width: 400px;
    margin: 30px 0 30px auto;
  }

  .checkout button {
    width: 355px;
    height: 60px;
    font-size: 1em;
  }
}

@media only screen and (min-width: 1024px) {
  /*----- Empty Cart Section -----*/
  .emptyCart-text1 p {
    font-size: 1.1em;
  }

  .emptyCart-shopNow a {
    font-size: 1.1em;
  }

  .emptyCart-image1 {
    margin: 83px auto 21px auto;
  }

  /*----- Filled Cart Section -----*/
  .emptyCart-title h1 {
    font-size: 4.5em;
  }

  /*-----First Table -----*/
  .table-headings {
    font-size: 1.25em;
  }

  .item-name {
    font-size: 0.93em;
    width: 26%;
  }

  .item-price {
    width: 16%;
    font-size: 1em;
  }

  .item-quantity {
    width: 21%;
    font-size: 1em;
  }

  .item-subtotal {
    width: 17%;
    font-size: 1em;
  }

  /*----- 2nd Table -----*/
  .items-total-container {
    width: 570px;
  }

  .items-total {
    width: 450px;
  }

  .item-total-subtotal,
  .item-total-shipping {
    font-size: 0.9em;
    padding-left: 60px;
  }

  .item-total-price1,
  .item-total-price2 {
    font-size: 0.9em;
    padding-right: 60px;
  }

  .items-total-total {
    font-size: 1.3em;
    padding-left: 60px;
  }

  .item-total-price4 {
    font-size: 1.3em;
    padding-right: 60px;
    padding-left: 233px;
  }

  .checkout {
    width: 570px;
  }

  .checkout button {
    font-size: 1.5em;
    height: 80px;
    font-size: 1.5em;
  }

  .checkout a {
    font-size: 0.9em;
  }
}
