@media only screen and (min-width: 768px) {
  /*----- Header Bar -----*/
  .header-image-box {
    width: 52px;
    height: 52px;
  }

  .header-left img {
    width: 250px;
    top: -484px;
  }

  .header-right img {
    width: 250px;
    top: -533px;
  }

  .header-text {
    display: block;
  }
}

@media only screen and (min-width: 1024px) {
  /*----- Header Bar -----*/
  .header-container {
    padding: 0 8px 0 22px;
  }

  .header-left,
  .header-right {
    height: 100px;
  }

  .header-image-box {
    margin-right: 16px;
  }

  .header-text {
    font-size: 0.85em;
  }

  .header-text-right {
    font-size: 1em;
  }
}
