@media only screen and (min-width: 768px) {
  /* ----- Main Section -----*/
  .content-wrapper {
    flex-direction: row;
  }

  .left-col {
    width: 30%;
    padding-bottom: 100px;
  }

  .mid-right-container {
    width: 70%;
    flex-direction: row;
    border-bottom: none;
    padding: 0;
    height: 100%;
    position: sticky;
    position: -webkit-sticky;
    top: 180px;
  }

  .mid-col {
    width: 57.1%;
    flex-direction: column;
  }

  .right-col {
    width: 42.9%;
  }

  /*-----Main Middle Col-----*/
  .product-title {
    position: absolute;
    font-size: 3.1em;
  }

  .product-image-box {
    margin: 300px 0;
  }

  .product-image {
    width: 110%;
  }

  /*-----Main Right Col-----*/
  .product-price {
    font-size: 3.7em;
    display: block;
  }

  .product-price::before {
    bottom: 20px;
    padding-right: 20px;
  }

  .product-description {
    padding: 0 13px;
    font-size: 0.7em;
    line-height: 2em;
  }

  .product-type {
    font-size: 0.65em;
  }

  .product-size {
    font-size: 0.65em;
  }

  .product-subscription {
    font-size: 0.65em;
  }

  .product-button {
    margin-top: 22px;
    width: 160px;
    font-weight: 700;
    font-size: 0.9em;
  }

  .product-price2 {
    display: none;
  }

  .product-price2::before {
    display: none;
  }

  /*-----Main Left Col-----*/
  .left-col-container {
    padding: 100vh 0 0 0;
    border-bottom: none;
  }

  .illustration1 {
    width: 80%;
    height: 230px;
    margin-left: 24px;
  }

  .illustration2 {
    width: 80%;
    margin-left: 24px;
  }

  .producer {
    font-size: 1em;
    line-height: 1.4em;
    text-align: left;
  }

  .prod-descrip {
    font-size: 0.6em;
    line-height: 2em;
    text-align: left;
  }
  .prod-list {
    padding-bottom: 200px;
  }

  .prod-list li {
    font-size: 0.7em;
  }

  .read-more {
    text-align: left;
  }

  .region {
    margin-top: 86px;
    padding-top: 0;
    font-size: 1em;
    text-align: left;
  }

  .region-descrip {
    font-size: 0.6em;
    line-height: 2em;
    text-align: left;
  }

  .map-container {
    width: 80%;
    margin-top: 100px;
    margin-right: 24px;
    display: block;
  }

  .location-image-container {
    width: 80%;
    display: block;
  }

  /* -----Recommend Section ----- */
  .recommend-row1 {
    margin-top: 65px;
  }

  .recommend-title {
    font-size: 1.55em;
  }

  .products-box {
    width: 250px;
    height: 250px;
  }

  .recommend-name1,
  .recommend-name2,
  .recommend-name3 {
    font-size: 0.7em;
  }

  .recommend-price1,
  .recommend-price2,
  .recommend-price3 {
    font-size: 0.8em;
  }
}

@media only screen and (min-width: 1024px) {
  /* ----- Main Section -----*/
  .left-col {
    width: 25%;
  }

  .mid-right-container {
    width: 75%;
  }

  .mid-col {
    width: 66.6666667%;
  }

  .right-col {
    width: 33.3333334%;
  }

  /*-----Main Middle Col-----*/
  .product-title {
    font-size: 4.1em;
    margin: 12px 30px 0;
  }

  .product-image {
    width: 87%;
  }

  /*-----Main Right Col-----*/
  .right-col-container {
    padding-bottom: 40px;
  }

  .product-price {
    font-size: 9.7em;
  }

  .product-description {
    font-size: 0.9em;
    line-height: 1.6em;
  }

  .product-type {
    font-size: 0.85em;
  }

  .product-size {
    font-size: 0.85em;
  }

  .product-subscription {
    font-size: 0.85em;
  }

  .product-button {
    margin-top: 42px;
    width: 250px;
    font-weight: 400;
    font-size: 1.25em;
  }

  /*-----Main Left Col-----*/

  .illustration1 {
    width: 100%;
  }

  .illustration2 {
    width: 100%;
  }

  .producer {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  .prod-descrip {
    font-size: 0.9em;
    line-height: 1.7em;
  }

  .prod-list li {
    font-weight: 400;
    font-size: 1em;
  }

  .region {
    font-size: 1.5em;
  }

  .region-descrip {
    font-size: 0.9em;
    line-height: 1.7em;
  }

  .map-container {
    width: 100%;
  }

  .location-image-container {
    width: 100%;
  }

  /* -----Recommend Section ----- */
  .recommend-title {
    font-size: 1.75em;
  }

  .recommend-name1,
  .recommend-name2,
  .recommend-name3 {
    font-size: 0.9em;
  }

  .recommend-price1,
  .recommend-price2,
  .recommend-price3 {
    font-size: 0.9em;
  }
}
