@media only screen and (min-width: 768px) {
  /*----- Header Bar -----*/
  .header-image-box {
    width: 52px;
    height: 52px;
  }

  .header-left img {
    width: 250;
    top: -484;
  }

  .header-right img {
    width: 250;
    top: -533;
  }

  .header-text {
    display: block;
  }

  /*----- Product Page -----*/
  .section-products-row01,
  .section-products-row02,
  .section-products-row03,
  .section-products-row04,
  .section-products-row05,
  .section-products-row06,
  .section-products-row07,
  .section-products-row08 {
    width: 98vw;
    display: flex;
    margin-bottom: 66;
  }

  .products {
    width: 50vw;
  }

  .empty {
    display: block;
  }

  .products-singlea {
    width: 55%;
  }

  .products-box02 {
    padding-bottom: 0;
  }

  .products-image {
    padding-bottom: 135;
  }

  .products-name {
    font-size: 0.7em;
  }

  .products-price {
    font-size: 0.7em;
  }

  .products-cart {
    font-size: 0.8em;
  }

  /*----- Links Section -----*/
  .links-row1 h2 {
    font-size: 1.5em;
    letter-spacing: 1.25;
  }

  .links-row2 {
    margin: 41 0 0 0;
  }

  .links-row2 a {
    font-size: 3.75em;
  }

  .link-boxes {
    margin-bottom: 26;
  }

  /*----- Footer -----*/
  .footer-container {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 2;
  }

  .footer-item1,
  .footer-item3 {
    width: 100%;
    text-align: center;
    padding-top: 46px;
    letter-spacing: 0em;
  }

  .footer-item1 {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-item1 p:nth-child(1),
  .footer-item1 p:nth-child(2),
  .footer-item3 p:nth-child(1) {
    font-size: 0.75em;
  }

  .footer-item1 p:nth-child(3) {
    font-size: 0.9em;
  }

  .footer-item2 {
    grid-column-start: 5;
    grid-column-end: 9;
  }

  .link-box a {
    font-size: 1.55em;
  }

  .footer-item3 {
    grid-column-start: 9;
    grid-column-end: 13;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 0;
  }

  .footer-form {
    width: 60%;
  }

  .footer-email {
    font-size: 0.7em;
  }

  .footer-item4 img {
    width: 50%;
    margin-bottom: 6;
  }

  .footer-item4 p {
    font-size: 0.7em;
  }
}

@media only screen and (min-width: 1024px) {
  /*----- Splash Page -----*/
  .splash-page {
    top: -69;
    height: 97vh;
  }

  .splash-text {
    height: auto;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0;
  }

  /*----- Header Bar -----*/
  header {
    position: relative;
    top: -69;
  }

  .header-container {
    padding: 0 8 0 22;
  }

  .header-left,
  .header-right {
    height: 100px;
  }

  .header-image-box {
    margin-right: 16;
  }

  .header-text {
    font-size: 0.85em;
  }

  .header-text-right {
    font-size: 1em;
  }

  /*----- Product Page -----*/
  .section-products {
    top: -9;
  }

  .products-name {
    font-size: 0.9em;
    padding-bottom: 16;
  }

  .products-price {
    font-size: 10.9em;
    padding-bottom: 16;
  }

  .products-cart {
    font-size: 1em;
  }

  /*----- Links Section -----*/
  .links-container {
    margin: 0 auto 0;
  }

  .links-row1 h2 {
    margin: 14;
    font-family: Merriweather, serif;
    font-weight: 700;
    font-size: 1.75em;
    letter-spacing: 1;
  }

  .links-row1 img {
    width: 9%;
  }

  .links-row2 {
    margin: 58 0 0 0;
  }

  .links-row2 a {
    font-size: 4.5em;
  }

  .link-boxes {
    margin-bottom: 40;
  }

  /*----- Footer -----*/
  .footer-container {
    padding: 80 0 75;
  }

  .footer-item1 p:nth-child(1),
  .footer-item1 p:nth-child(2),
  .footer-item3 p:nth-child(1) {
    font-size: 0.95em;
  }

  .footer-item1 p:nth-child(3) {
    font-size: 1.05em;
  }

  .link-box a {
    font-size: 1.95em;
  }

  .footer-item4 {
    margin-bottom: 12;
  }

  .footer-form {
    width: 50%;
  }

  .footer-email {
    font-size: 0.9em;
  }

  .footer-item4 img {
    width: 75%;
    margin-bottom: 6;
  }

  .footer-item4 p {
    font-size: 0.8em;
  }
}
